/*
	@name position
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 1024px; height: 1637px; margin-left: auto; margin-right: auto;  }

#_bg__position {
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 1637px;
	background:rgba(255,255,255,255);
}

#footer {
	top: 1482px;
	left: 0px;
	width: 1026px;
	height: 198px;
}

#footer_ek1 {
	top: 0px;
	left: 2px;
	width: 1024px;
	height: 150px;
	background:rgba(255,255,255,255);
}


#logo {
	top: 17px;
	left: 0px;
	width: 136px;
	height: 125px;
}


#path_1 {
	top: 11px;
	left: 23px;
	width: 974px;
	height: 1px;
}


#contact_us__mail__433_132_someroad_rd___10999_bankok__thailand_email__uhotel_reservation_abc_com_tel___66__0__2_231_4421 {
	top: 21px;
	left: 136px;
	width: 340px;
	height: 176.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	color:#666666;
}


#follow_us {
	top: 21px;
	left: 504px;
	width: 340px;
	height: 176.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	color:#666666;
}


#subscribe {
	top: 21px;
	left: 682px;
	width: 340px;
	height: 176.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	color:#666666;
}


#facebook {
	top: 79px;
	left: 507px;
	width: 28px;
	height: 28px;
}


#facebook_ek1 {
	top: 77px;
	left: 607px;
	width: 31px;
	height: 31px;
}


#facebook_ek2 {
	top: 69px;
	left: 566px;
	width: 46px;
	height: 46px;
}


#facebook_ek3 {
	top: 79px;
	left: 540px;
	width: 29px;
	height: 29px;
}


#path_2 {
	top: 104px;
	left: 647px;
	width: 0px;
	height: 0px;
}


#rectangle_1 {
	top: 72px;
	left: 682px;
	width: 299px;
	height: 38px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #aeaeae;
	background:rgba(255,255,255,255);
}


#enter_your_email {
	top: 80px;
	left: 696px;
	width: 253px;
	height: 27.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 13px;
	text-align: left;
	line-height: 13px;
	color:#aeaeae;
}


#untitled_1 {
	top: 75px;
	left: 0px;
	width: 1024px;
	height: 440px;
}

#search_box {
	top: 118px;
	left: 707px;
	width: 268px;
	height: 355px;
}

#search_box_ek1 {
	top: 0px;
	left: 0px;
	width: 268px;
	height: 355px;
	background:rgba(67,67,67,255);
}


#rectangle_2 {
	top: 8px;
	left: 8px;
	width: 250px;
	height: 337px;
	border: 1px solid #d9b645;
	background:rgba(255,255,255,0);
}


#logo_ek1 {
	top: 11px;
	left: 54px;
	width: 160px;
	height: 147px;
}


#rectangle_3 {
	top: 124px;
	left: 79px;
	width: 109px;
	height: 41px;
	background:rgba(67,67,67,255);
}


#underscore_hotel {
	top: 121px;
	left: 61px;
	width: 140px;
	height: 86.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: center;
	line-height: 17px;
	color:#cdac3e;
}


#rectangle_4 {
	top: 191px;
	left: 32px;
	width: 204px;
	height: 31px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(102,102,102,255);
}


#rectangle_5 {
	top: 241px;
	left: 32px;
	width: 204px;
	height: 31px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(102,102,102,255);
}


#rectangle_6 {
	top: 291px;
	left: 90px;
	width: 89px;
	height: 31px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(102,102,102,255);
}


#employment__type {
	top: 195px;
	left: 75px;
	width: 115px;
	height: 24px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color:#ffffff;
}


#department {
	top: 245px;
	left: 75px;
	width: 115px;
	height: 24px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color:#ffffff;
}


#polygon_3 {
	top: 203px;
	left: 214px;
	width: 11px;
	height: 9px;
}


#polygon_4 {
	top: 253px;
	left: 214px;
	width: 11px;
	height: 9px;
}


#search {
	top: 296px;
	left: 108px;
	width: 49px;
	height: 24px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color:#ffffff;
}

#top_menu {
	top: 91px;
	left: 24px;
	width: 250px;
	height: 303px;
}

#rectangle_24 {
	opacity:0.6;
	top: 3px;
	left: 0px;
	width: 250px;
	height: 300px;
	background:rgba(102,102,102,153);
}


#careers {
	top: -11px;
	left: 9px;
	width: 168px;
	height: 83px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 42px;
	text-align: left;
	line-height: 42px;
	color:#ffffff;
}


#what_we_offer {
	top: 64px;
	left: 33px;
	width: 157px;
	height: 49px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 22px;
	text-align: left;
	line-height: 22px;
	color:#ffffff;
}


#positions {
	top: 205px;
	left: 33px;
	width: 107px;
	height: 49px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 22px;
	text-decoration: underline;
	text-align: left;
	line-height: 22px;
	color:#ffffff;
}


#become_our_family {
	top: 247px;
	left: 33px;
	width: 210px;
	height: 49px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 22px;
	text-align: left;
	line-height: 22px;
	color:#ffffff;
}


#benefits {
	top: 105px;
	left: 58px;
	width: 63px;
	height: 31px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#dadada;
}


#learning___development {
	top: 137px;
	left: 58px;
	width: 174px;
	height: 31px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#dadada;
}


#graduate_opportunities {
	top: 171px;
	left: 58px;
	width: 167px;
	height: 31px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#dadada;
}

#positions_ek1 {
	top: 569px;
	left: 65px;
	width: 157px;
	height: 68px;
}

#positions_ {
	top: -8px;
	left: 0px;
	width: 157px;
	height: 91.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 33px;
	text-align: left;
	line-height: 33px;
	color:#b0a073;
}


#all_available_positions {
	top: 622px;
	left: 110px;
	width: 202px;
	height: 32px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	text-align: left;
	line-height: 18px;
	color:#b0a073;
}


#filter {
	top: 710px;
	left: 39px;
	width: 73px;
	height: 56px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	line-height: 20px;
	color:#666666;
}


#position {
	top: 710px;
	left: 434px;
	width: 79px;
	height: 56px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	line-height: 20px;
	color:#666666;
}


#department_ek1 {
	top: 710px;
	left: 600px;
	width: 123px;
	height: 56px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	line-height: 20px;
	color:#666666;
}


#employment_type {
	top: 710px;
	left: 810px;
	width: 178px;
	height: 56px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	line-height: 20px;
	color:#666666;
}


#path_4 {
	top: 764.5px;
	left: 270px;
	width: 1px;
	height: 721.61950683594px;
}

#group_8 {
	top: 770px;
	left: 46px;
	width: 196px;
	height: 190px;
}

#casual___on_call__full_time_graduate_programme_internship_part_time_temporary___seasonal {
	top: 28px;
	left: 29px;
	width: 167px;
	height: 161px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#666666;
}


#employment_type_ek1 {
	top: -5px;
	left: 0px;
	width: 178px;
	height: 44px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	text-align: left;
	line-height: 18px;
	color:#666666;
}


#rectangle_8 {
	top: 42px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_8_ek1 {
	top: 65px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(217,217,217,255);
}


#rectangle_8_ek2 {
	top: 88px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_8_ek3 {
	top: 111px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_8_ek4 {
	top: 134px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(217,217,217,255);
}


#rectangle_8_ek5 {
	top: 156px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}

#group_9 {
	top: 980px;
	left: 46px;
	width: 204px;
	height: 502px;
}

#accounting__administration_banquet_catering_sales_engineering_executive_office_finance_food___beverage_front_office_housekeeping_human_resources_information_technology_in_room_dining_laundry_marketing_public_relations_reservations_residences_rooms_security {
	top: 28px;
	left: 29px;
	width: 167px;
	height: 473px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#666666;
}


#department_ek2 {
	top: -5px;
	left: 0px;
	width: 204px;
	height: 32px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	text-align: left;
	line-height: 18px;
	color:#666666;
}


#rectangle_8_ek6 {
	top: 42px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_15 {
	top: 180px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_21 {
	top: 319px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_8_ek7 {
	top: 65px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(217,217,217,255);
}


#rectangle_14 {
	top: 203px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(217,217,217,255);
}


#rectangle_20 {
	top: 342px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_8_ek8 {
	top: 88px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_13 {
	top: 226px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(217,217,217,255);
}


#rectangle_19 {
	top: 365px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_8_ek9 {
	top: 111px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_12 {
	top: 250px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_18 {
	top: 388px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_8_ek10 {
	top: 134px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_11 {
	top: 273px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_17 {
	top: 411px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_23 {
	top: 456px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_8_ek11 {
	top: 157px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_10 {
	top: 295px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_16 {
	top: 433px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_22 {
	top: 478px;
	left: 0px;
	width: 15px;
	height: 15px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #707070;
	background:rgba(217,217,217,255);
}

#group_10 {
	top: 775px;
	left: 293px;
	width: 704px;
	height: 126px;
}

#rectangle_9 {
	top: 0px;
	left: 0px;
	width: 702px;
	height: 122px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#__bartender {
	top: -9px;
	left: 141px;
	width: 149px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__food___beverage {
	top: -9px;
	left: 307px;
	width: 191px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__part_time {
	top: -9px;
	left: 519px;
	width: 177px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#bartender_1 {
	top: 13px;
	left: 20px;
	width: 98px;
	height: 98px;
}

#group_11 {
	top: 910px;
	left: 293px;
	width: 704px;
	height: 126px;
}

#rectangle_9_ek1 {
	top: 0px;
	left: 0px;
	width: 702px;
	height: 122px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#__demi_chef_ {
	top: -9px;
	left: 141px;
	width: 149px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__food___beverage_ek1 {
	top: -9px;
	left: 307px;
	width: 191px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__full_time {
	top: -9px;
	left: 519px;
	width: 177px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#commischef1_270x240 {
	top: 13px;
	left: 20px;
	width: 98px;
	height: 98px;
}

#group_12 {
	top: 1046px;
	left: 293px;
	width: 704px;
	height: 126px;
}

#rectangle_9_ek2 {
	top: 0px;
	left: 0px;
	width: 702px;
	height: 122px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#__camera_officer {
	top: -9px;
	left: 141px;
	width: 149px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__security {
	top: -9px;
	left: 307px;
	width: 191px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__full_time_ek1 {
	top: -9px;
	left: 519px;
	width: 177px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#_05_63_16_security_officer_monitoring_room {
	top: 13px;
	left: 20px;
	width: 98px;
	height: 98px;
}

#group_13 {
	top: 1181px;
	left: 293px;
	width: 704px;
	height: 126px;
}

#rectangle_9_ek3 {
	top: 0px;
	left: 0px;
	width: 702px;
	height: 122px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#__receptionist {
	top: -9px;
	left: 141px;
	width: 149px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__front_office {
	top: -9px;
	left: 307px;
	width: 191px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__full_time_ek2 {
	top: -9px;
	left: 519px;
	width: 177px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#d4750ff7ee96daadf1bcdb12fd96e258 {
	top: 13px;
	left: 20px;
	width: 98px;
	height: 98px;
}

#group_14 {
	top: 1317px;
	left: 293px;
	width: 704px;
	height: 126px;
}

#rectangle_9_ek4 {
	top: 0px;
	left: 0px;
	width: 702px;
	height: 122px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#__hotel_director {
	top: -9px;
	left: 141px;
	width: 149px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__administration_ {
	top: -9px;
	left: 307px;
	width: 191px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__full_time_ek3 {
	top: -9px;
	left: 519px;
	width: 177px;
	height: 134px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#untitled_aszxs1 {
	top: 13px;
	left: 20px;
	width: 98px;
	height: 98px;
}


#path_7 {
	top: 838.30462646484px;
	left: 48.00732421875px;
	width: 11.904296875px;
	height: 11.63818359375px;
}


#path_8 {
	top: 907.30462646484px;
	left: 48.00732421875px;
	width: 11.904296875px;
	height: 11.63818359375px;
}


#path_9 {
	top: 1186.3046875px;
	left: 48.00732421875px;
	width: 11.904296875px;
	height: 11.63818359375px;
}


#path_10 {
	top: 1461.3046875px;
	left: 48.00732421875px;
	width: 11.904296875px;
	height: 11.63818359375px;
}


#path_11 {
	top: 1209.3046875px;
	left: 48.00732421875px;
	width: 11.904296875px;
	height: 11.63818359375px;
}

#group_15 {
	top: 1455px;
	left: 545px;
	width: 201px;
	height: 24px;
}

#_1 {
	top: -4px;
	left: 0px;
	width: 10px;
	height: 35px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-decoration: underline;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#_2 {
	top: -4px;
	left: 30px;
	width: 10px;
	height: 35px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#_3 {
	top: -4px;
	left: 60px;
	width: 10px;
	height: 35px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#_4 {
	top: -4px;
	left: 90px;
	width: 10px;
	height: 35px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#_5 {
	top: -4px;
	left: 120px;
	width: 10px;
	height: 35px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#__ {
	top: -4px;
	left: 150px;
	width: 10px;
	height: 35px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#___ {
	top: -4px;
	left: 180px;
	width: 21px;
	height: 35px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	color:#666666;
}


#path_12 {
	top: 1048.3046875px;
	left: 48.00732421875px;
	width: 11.904296875px;
	height: 11.63818359375px;
}

#group_562 {
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 78px;
}

#path_46 {
	top: 52px;
	left: 134px;
	width: 18px;
	height: 2.5px;
}


#path_42 {
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 78px;
}


#logo_ek2 {
	top: 10px;
	left: 36px;
	width: 63px;
	height: 58px;
}


#about {
	top: 26px;
	left: 134px;
	width: 99px;
	height: 28px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#ffffff;
}


#services {
	top: 26px;
	left: 202px;
	width: 99px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#ffffff;
}


#events {
	top: 26px;
	left: 293px;
	width: 99px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#ffffff;
}


#offers {
	top: 26px;
	left: 370px;
	width: 99px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: left;
	line-height: 14px;
	color:#ffffff;
}


#reviews {
	top: 26px;
	left: 430px;
	width: 80px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#gallery {
	top: 26px;
	left: 515px;
	width: 72px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}


#path_46_ek1 {
	top: 50px;
	left: 134px;
	width: 18px;
	height: 2.5px;
}


#rectangle_1154 {
	top: 18px;
	left: 934px;
	width: 0.5px;
	height: 45px;
	background:rgba(238,238,238,255);
}

#group_524 {
	top: 24px;
	left: 761px;
	width: 152px;
	height: 33px;
}

#rectangle_1102 {
	top: 0px;
	left: 0px;
	width: 152px;
	height: 33px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(191,159,104,255);
}


#book_now {
	top: 4px;
	left: 38px;
	width: 77px;
	height: 22px;
	font-family: Poppins;
	font-size: 13px;
	text-align: center;
	color:#ffffff;
}


#sign_in {
	top: 26px;
	left: 939px;
	width: 62px;
	height: 33px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color:#ffffff;
}



/* Add your custom CSS here */
